{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    {{ 'File Upload'|trans }}
{% endblock %}

{% block body_class %}files{% endblock %}

{% block main %}
    <div class="mt-5 mb-5">
        {{ form(form) }}
    </div>
{% endblock %}
