{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block wrapper %}
    <div class="mt-5 mb-5 ml-auto mr-auto pb-3 bg-white rounded" style="width: 400px;align-self: center;">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="ml-3 mr-3 alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if success %}
        {% else %}
                {{ form(form) }}
        {% endif %}
    </div>
{% endblock %}
