{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block wrapper %}
    <div class="mt-5 mb-5 ml-auto mr-auto py-3 bg-white rounded align-self-center" style="width: 400px;">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="ml-3 mr-3 alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block security_form %}
        {% endblock security_form %}
    </div>
{% endblock %}
