{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}{{ 'Menus'|trans }}{% endblock %}

{% block main %}

    <div class="container-fluid pt-3 pb-3">
        <div class="row">
            <div class="col-12">
                {% for name, menu in missingMenus %}
                    <a class="btn btn-primary" href="{{ path('cms_menu_create', {name: name}) }}">
                        {{ 'Create %menu%'|trans({'%menu%': name|trans}) }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% for menu in menus %}
                    {% include '@cms/Admin/edit-menu.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
