{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    {{ 'admin.label.files'|trans({}, 'cms') }}
{% endblock %}

{% block body_class %}files{% endblock %}

{% block main %}
    <div class="p-3">
        <h4>
            {{ 'admin.label.fileSaved'|trans({'%title%': title}, 'cms') }}
        </h4>
        <p>
            <code>{{ file.path }}</code>
        </p>
    </div>
{% endblock %}
