{% extends '@cms/EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{- parent() -}}

    {% if is_granted('file_create') %}
        <div class="button-action">
            <a class="btn btn-success" href="{{ path('cms_file_create') }}">
                <span class="fa fa-plus"></span> {{ 'admin.btn.addFile'|trans({}, 'cms') }}
            </a>
        </div>
    {% endif %}
{% endblock global_actions %}
