{% if edit %}<div {{ editorAttr(element, edit, 'bg-info') }} class="text-center">{% endif %}
    <span class="anchor" id="{{ element.data.anchor }}">{% if edit %}<span class="fas fa-anchor"></span> #{{ element.data.anchor }}{% endif %}</span>
{% if edit %}</div>{% endif %}
