<div {{ editorAttr(element, edit, 'bg-dark') }} class="{{ element.data.section }} {{ elementClasses(element) }}">
    {% if element.elements is defined and element.elements|length > 0 %}
        {% for element in element.elements %}
            {% include config.page_elements[element.elementName].template %}
        {% endfor %}
    {% endif %}
</div>
