<div class="cms_tree-node" data-element-name="{{ element.elementName }}" data-uuid="{{ element.uuid }}">
    <div class="cms_tree-node-item text-nowrap">
        <i class="{{ config.page_elements[element.elementName] is defined ? config.page_elements[element.elementName].icon : 'fas fa-file' }}"></i> {{ element.title ? element.title ~ '-' ~ element.elementName|trans : element.elementName|trans }}
    </div>

    {% set tree = element.elements %}
    {% include '@CMS/Backend/Page/Tree/tree.html.twig' %}
</div>
