{% extends '@cms/base.html.twig' %}
{% import "@cms/Helper/section-helper.html.twig" as section %}

{% block body %}
    <div class="container">
        <div class="header jumbotron">
            HEADER
        </div>
        <div class="content mt-5 mb-5">
            <div class="row">
                <div class="col-12 col-md-8">
                    {{ section.render('Body', '@cms/Layout/section-empty.html.twig', page, edit, config) }}
                </div>
                <div class="col-12 col-md-4">
                    {{ section.render('Sidebar', '@cms/Layout/section-empty.html.twig', page, edit, config) }}
                </div>
            </div>
        </div>
        <div class="footer jumbotron">
            FOOTER
        </div>
    </div>
{% endblock %}
