/* Plugin fixes */
date-input-polyfill {
    z-index: 10000;
}
.select2-container {
    z-index: 10000;
}
.select2.select2-container {
    width: 100%!important;
}

/* Tee */
.cms_tree-node[draggable] {
    border: 1px solid red;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.cms_tree-node-item:hover {
    background: #515462;
    cursor: move;
}
.cms_tree-node-item.valid-target {
    background: green!important;
}

/* CMS File Picker */
.cms-file-picker {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cms-file-picker-body {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--form-bg);
}
body.file-picker-open {
    overflow: hidden;
    max-height: 100%;
}
body.file-picker-open .modal-dialog {
    resize: none;
}

/* Page Editor */
#page-frame.size-xl,
#page-frame.size-AutoWidth {
    height: 100%;
    width: 100%;
}
#page-frame.size-xs,
#page-frame.size-sm,
#page-frame.size-md,
#page-frame.size-lg,
#page-frame.size-xl {
    flex-grow: 0!important;
    height: 100%;
}
#page-frame.size-xs {
    width: 320px;
    max-height: 568px;
}
#page-frame.size-sm {
    width: 576px;
    max-height: 900px;
}
#page-frame.size-md {
    width: 768px;
    max-height: 1024px;
}
#page-frame.size-lg {
    width: 992px;
    max-height: 768px;
}
#page-frame.size-xl {
    min-width: 1200px
}

/* Forms */
/*
 * Make form half transparent and unclickable during
 * form reload triggered by conditional field.
 */
.cms-form-loading {
    position: relative;
    opacity: 0.3;
    pointer-events: none;
}
.cms-form-loading::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Menu Sort CSS */
body.dragging, body.dragging * {
    cursor: move!important;
}
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
.cms-admin-menu li > div:hover {
    background: #f8f8f8;
}
.cms-admin-menu-item-move {
    cursor: pointer;
}
.cms-admin-menu li.placeholder {
    position: relative;
    height: 2rem;
    background: #bbbbbb;
}

/* Modal */
.modal {
    bottom: 0;
}
.modal-content > .overflow-auto {
    max-height: none!important;
    overflow: visible!important;
}
body.file-picker-open .modal {
    overflow: hidden!important;
}
