/* General Styling */
:root {
    --color-primary: #41b3f9;
    --color-primary-hover: #3795cc;
    --text-color: #4b5464;
    --gray-800: #4b5464;
    --gray-900: #4b5464;
    --color-success: #7ace4c;
    --color-danger: #f33155;
    --color-warning: #fb4;
    --color-info: #75a6e6;
    --font-family-base: 'Rubik', Helvetica, Arial, sans-serif;
}
/* Fix in EasyAdmin? */
.badge-success {
    background-color: var(--color-success);
}
.badge-danger {
    background-color: var(--color-danger);
}
.text-danger,
a.text-danger:focus, a.text-danger:hover {
    color: var(--color-danger)!important;
}
.text-primary {
    color: var(--color-primary)!important;
}
a.text-primary:focus,
a.text-primary:hover {
    color: var(--color-primary-hover)!important;
}
a:focus,
a:hover {
    color: var(--color-primary-hover);
}
/* Forms */
.form-group label,
.form-group legend.col-form-label {
    flex-grow: 1;
    text-align: left;
}
fieldset .form-group {
    border-width: 0;
}
fieldset.form-group {
    margin-bottom: 10px;
}
fieldset.form-group > div {
    width: 100%;
}
.form-group .cke {
    width: 100%;
}
.form-widget input.form-control,
.form-widget select.form-control,
.form-widget textarea.form-control,
.select2-container--bootstrap .select2-selection {
    max-width: none;
}
.select2-container {
    width: 100%!important;
}
/* Collections */
.form-group.field-collection-action {
    margin: 0;
    display: block;
}
.form-group.field-collection-action .form-widget {
    display: block;
    width: 100%;
    text-align: right;
}
[data-prototype] > .form-group {
    padding: 15px;
    border-width: 1px;
    background: white;
}
[data-prototype] > .form-group fieldset {
    background: white;
}
[data-prototype] > .form-group > .col-form-label {
    display: none;
}
/* --- */
body {
    color: var(--text-color);
}
a {
    color: var(--color-primary);
}
.bg-light {
    background-color: #fafbfc !important;
}
.wrapper {
    max-width: none;
    min-height: 100vh;
}
.main-sidebar {
    align-self: stretch;
    background: white;
    margin: 0;
    padding: 0;
    height: auto;
}
.main-header {
    background: #4b5464;
    font-size: 20px;
    line-height: 20px;
}
.main-header #header-logo {
    margin: 0;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 20px;
}
.main-header #header-logo a {
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.revision-ten-logo {
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin-right: 5px;
}
.sidebar-menu {
    margin: 0;
    padding: 30px 15px;
}
.sidebar-menu .fa {
    filter: none;
}
.content-wrapper {
    margin: 0;
    padding: 0 30px 30px 30px;
}
.content-top {
    font-size: 1em;
    line-height: 20px;
    padding: 15px;
    background: #737c8d;
    margin: 0 -30px 30px -30px;
}
.content {
    box-shadow: none;
}
.btn {
    box-shadow: none;
}
/* Page Edit */
.edit-page > .wrapper {
    align-items: stretch;
}
.edit-page > .wrapper > .content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.edit-page > .wrapper > .content-wrapper > .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.edit-page > .wrapper > .content-wrapper > .content > .content-header {
    flex-grow: 0;
}
.edit-page > .wrapper > .content-wrapper > .content > .content-body {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.edit-page > .wrapper > .content-wrapper > .content > .content-body > iframe {
    flex-grow: 1;
    margin: 0 auto;
    height: auto;
    border: 0;
    width: 100%;
}
/* Page Edit Toolbar */
.btn-tertiary {
    border: 0;
    box-shadow: none;
}
.btn-tertiary .label-text {
    display: none;
}
.badge-up {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}
.btn > .badge-up {
    font-size: 8px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-info);
    color: white;
}
#page-info .dropdown-toggle::after {
    display: none;
}
/* Modal */
.modal {
    background: rgba(237, 241, 245, 0.8);
}
.modal-dialog {
    pointer-events: auto;
    resize: horizontal;
    overflow: hidden;
    width: 700px;
    min-width: 300px;
    max-width: 90%;
}
.modal-body,
.modal-body .content,
.modal-body .content-body .form-horizontal,
.modal-body .content-body form {
    background: white;
}
.modal-body .content-body .form-horizontal,
.modal-body .content-body form {
    padding: 0;
}
.modal-body .btn {
    background: var(--color-primary);
    color: white;
}
/* Avatar */
.editor-avatar {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
}
.editor-avatar-small {
    width: 1em;
}
.editor-avatar-color,
.editor-avatar-color-small,
.editor-avatar-color-medium {
    text-align: center;
    color: #fff;
    border-radius: 100%;
    position: relative;
}
.editor-avatar-color {
    width: 60px;
    margin: 0 auto 10px auto;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}
.editor-avatar-color-small {
    width: 14px;
    margin: 0 5px 0 0;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    display: inline-block;
}
.editor-avatar-color-medium {
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    margin: 0;
    display: inline-block;
}
.editor-avatar-medium {
    position: relative;
    height: 2rem;
    width: 2rem;
    margin: 0;
}
.editor-userinfo {
    padding: 30px 15px 0 15px;
}
#page-tree {
    width: auto;
    flex-shrink: 0;
    min-width: 200px;
    background: #2f323e;
    color: #edf1f5;
    overflow-y: auto;
    padding: 1em;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
.btn-tree-save {
    margin-top: auto;
}
.cms_tree {
    padding-left: 1em;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
.cms_tree-node {

}
.cms_tree-node[draggable] {
    border: 1px solid red;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.cms_tree-node-item {
    white-space: nowrap;
}
.cms_tree-node-item:hover {
    background: #515462;
    cursor: move;
}
.cms_tree-node-item.valid-target {
    background: green!important;
}
.cms_tree.valid-target-tree {

}
#page-tree.hidden {
    display: none;
}
.qeued {
    position: fixed;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}
.qeued-user {
    color: #54667a;
    background: #fff;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
.qeued-user:active,
.qeued-user:hover {
    color: #54667a;
    background: #edf1f5;
}
.qeued-user-icon {
    position: relative;
    display: inline-block;
    height: 4rem;
    width: 4rem;
}
.qeued-user-text {
    display: inline-block;
    white-space: normal;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 1rem;
}
/* Menu Sort CSS */
body.dragging, body.dragging * {
    cursor: move!important;
}
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
.cms-admin-menu {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cms-admin-menu .cms-admin-menu {
    margin: 0 -1px -1px 30px;
}
.cms-admin-menu li {
    padding: 0;
    margin: 0;
}
.cms-admin-menu li > div {
    margin: 0 0 -1px 0;
    border: 1px solid #e1e9f2;
}
.cms-admin-menu li > div:hover {
    background: #f8f8f8;
}
.cms-admin-menu-item-move {
    cursor: pointer;
}
.cms-admin-menu li.placeholder {
    position: relative;
    height: 5px;
    background: #222222;
}
