/* General Styling */
:root {
    --text-muted: #818b9b;
    --color-primary: #41b3f9;
    --color-primary-hover: #3795cc;
    --color-lighter-blue: #e1e9f2;
    --color-light-blue: #cad7e6;
    --color-light-blue-grey: #d2d7e1;
    --color-light-silver: #edf1f5;
    --text-color: #4b5464;
    --gray-800: #4b5464;
    --gray-1000: #3a3b4b;
    --gray-900: #4b5464;
    --gray-500: #737c8d;
    --content-top-shadow: 0 0px 5px 0 rgba(0, 0, 0, .1);
    --color-content-top: white;
    --color-main-header: var(--gray-1000);
    --color-main-sidebar: var(--gray-900);
    --color-sidebar: var(--color-light-blue);
    --color-success: #7ace4c;
    --color-danger: #f33155;
    --color-warning: #fb4;
    --color-info: #75a6e6;
    --font-family-base: 'Rubik', Helvetica, Arial, sans-serif;
}
/* Fix in EasyAdmin? */
.badge-success {
    background-color: var(--color-success);
}
.badge-danger {
    background-color: var(--color-danger);
}
.text-danger,
a.text-danger:focus, a.text-danger:hover {
    color: var(--color-danger)!important;
}
.text-primary {
    color: var(--color-primary)!important;
}
a.text-primary:focus,
a.text-primary:hover {
    color: var(--color-primary-hover)!important;
}
a:focus,
a:hover {
    color: var(--color-primary-hover);
}
/* Forms */
trix-toolbar .trix-button-group,
trix-editor {
    background: white;
}
fieldset > legend {
    text-transform: none;
}
.form-group label,
.form-group legend.col-form-label {
    flex-grow: 1;
    text-align: left;
}
fieldset .form-group {
    border-width: 0;
}
fieldset.form-group {
    margin-bottom: 10px;
}
fieldset.form-group > div {
    width: 100%;
}
.form-group .cke {
    width: 100%;
}
.form-widget input.form-control,
.form-widget select.form-control,
.form-widget textarea.form-control,
.select2-container--bootstrap .select2-selection {
    max-width: none;
}
.select2-container {
    width: 100%!important;
}
.custom-select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
body.show .field-string .form-widget,
body.show .field-boolean .form-widget,
body.show .field-float .form-widget,
body.show .field-integer .form-widget {
    max-width: none;
}
div.form-control.is-invalid:not(.custom-select),
.was-validated div.form-control:invalid:not(.custom-select) {
    height: auto;
}
/* Fix checkboxes in EasyAdmin compound forms */
.form-group label, .form-group legend.col-form-label {
    margin: 0;
}
.field-checkbox .form-widget,
.form-group.field-collection-action {
    margin-left: auto;
}
.form-widget-compound .form-check > label {
    display: inline-block;
}
.form-widget-compound > div > .field-checkbox .form-widget {
    margin-left: 0;
}
/* Collections */
.form-group.field-collection-action {
    margin: 0;
    display: block;
}
.form-group.field-collection-action .form-widget {
    display: block;
    width: 100%;
    text-align: right;
}
[data-prototype] > .form-group {
    padding: 15px;
    border-width: 1px;
    background: white;
}
[data-prototype] > .form-group fieldset {
    background: white;
}
[data-prototype] > .form-group > .col-form-label {
    display: none;
}
/* --- */
body {
    color: var(--text-color);
}
.btn-link,
a {
    color: var(--color-primary);
}
.datagrid.border-0 th,
.datagrid.border-0 td {
    border: 0;
}
.bg-light {
    background-color: #fafbfc !important;
}
#sidebar-resizer-handler,
#content-resizer-handler {
    display: none;
}
body:not(.easyadmin-content-width-full) .wrapper,
.wrapper {
    max-width: none;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    grid-column-gap: 0;
}
.main-sidebar {
    background: var(--color-main-sidebar);
    align-self: stretch;
    margin: 0;
    padding: 0;
    height: auto;
    width: 215px;
    flex-shrink: 0;
    flex-grow: 0;
    position: static;
    top: auto;
    left: auto;
}
.wrapper > .main-header {
    /** dont show default easyadmin header wrapper */
    display: none;
}
.main-header {
    background: var(--color-main-header);
    font-size: 20px;
    line-height: 20px;
}
.main-header #header-logo {
    margin: 0;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 20px;
}
.main-header #header-logo a {
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.revision-ten-logo {
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin-right: 5px;
}
.sidebar {
    color: var(--color-sidebar);
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidebar-menu {
    margin: 0;
    padding: 30px;
}
.sidebar-menu .header {
    padding-left: 0;
}
.sidebar-menu a {
    color: var(--color-sidebar);
}
.sidebar-menu .treeview-menu a {
    padding: 7px 5px 7px 15px;
}
.sidebar-menu .treeview-menu a .fa,
.sidebar-menu .fa {
    filter: none;
    color: var(--color-sidebar);
}
.btn-website::after {
    display: none;
}
.content-wrapper {
    margin: 0;
    padding: 30px;
    display: block; /* dont display as grid */
    width: auto;
    flex-grow: 1;
}
.content-top {
    font-size: 1em;
    line-height: 20px;
    padding: 15px;
    background: var(--color-content-top);
    margin: 0 -30px 30px -30px;
    box-shadow: var(--content-top-shadow);
    display: none;
}
.content-header-title {
    text-transform: uppercase;
}
.content {
    box-shadow: none;
}
.btn {
    box-shadow: none;
}
body.show .field-association .form-widget, body.show .field-text .form-widget {
    max-width: none;
}
body.show .field-text .form-widget {
    max-height: none;
}
/* Page Edit */
.edit-page > .wrapper {
    align-items: stretch;
}
.edit-page > .wrapper > .content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.page-tabs-tab-editor > .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.page-tabs-tab-editor > .content > .content-header {
    flex-grow: 0;
}
.page-tabs-tab-editor > .content > .content-body {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: var(--color-light-silver);
}
.page-tabs-tab-editor > .content > .content-body > iframe {
    height: auto;
    flex-grow: 0;
    margin: 40px auto;
    border: 5px solid black;
    background: black;
    padding: 20px 0;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-sizing: content-box;
}
.page-tabs,
.page-tabs-tab {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.page-tabs-tab {
    display: none;
}
.page-tabs-tab.active {
    display: flex;
}
.page-tabs-tab-settings > .content {
    width: 100%;
}
#page-frame.size-xl,
#page-frame.size-AutoWidth {
    margin: 0 auto;
    border: 0;
    flex-grow: 1;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    overflow-y: auto;
}
#page-frame.size-xs {
    width: 320px;
    max-height: 568px;
}
#page-frame.size-sm {
    width: 576px;
    max-height: 900px;
}
#page-frame.size-md {
    width: 768px;
    max-height: 1024px;
}
#page-frame.size-lg {
    width: 992px;
    max-height: 768px;
}
#page-frame.size-xl {
    min-width: 1200px
}
/* Page Edit Toolbar */
.btn-tertiary {
    border: 0;
    box-shadow: none;
    background: none;
}
.btn-tertiary .label-text {
    display: none;
}
.badge-up {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}
.btn > .badge-up {
    font-size: 8px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-info);
    color: white;
}
#page-info .dropdown-toggle::after {
    display: none;
}
.btn-tertiary {
    color: var(--text-color);
}
/* Modal */
.modal {
    background: rgba(237, 241, 245, 0.8);
}
.modal-dialog {
    pointer-events: auto;
    resize: horizontal;
    overflow: hidden;
    width: 700px;
    min-width: 300px;
    max-width: 90%;
}
.modal-body,
.modal-body .content,
.modal-body .content-body .form-horizontal,
.modal-body .content-body form {
    background: white;
}
.modal-body .content-body .form-horizontal,
.modal-body .content-body form {
    padding: 0;
}
/* Card */
.card-header h6 {
    margin: 0;
    text-transform: uppercase;
}
/* Avatar */
.editor-avatar {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
}
.editor-avatar-small {
    width: 1em;
}
.editor-avatar-color,
.editor-avatar-color-small,
.editor-avatar-color-medium {
    text-align: center;
    color: #fff;
    border-radius: 100%;
    position: relative;
}
.editor-avatar-color {
    width: 60px;
    margin: 0 auto 10px auto;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}
.editor-avatar-color-small {
    width: 14px;
    margin: 0 5px 0 0;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    display: inline-block;
}
.editor-avatar-color-medium {
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    margin: 0;
    display: inline-block;
}
.editor-avatar-medium {
    position: relative;
    height: 2rem;
    width: 2rem;
    margin: 0;
}
.editor-userinfo {
    padding: 30px 15px 0 15px;
}
#page-tree {
    width: auto;
    flex-shrink: 0;
    min-width: 200px;
    background: #2f323e;
    color: #edf1f5;
    overflow-y: auto;
    padding: 1em;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
.btn-tree-save {
    margin-top: auto;
}
.cms_tree {
    padding-left: 1em;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
.cms_tree-node {

}
.cms_tree-node[draggable] {
    border: 1px solid red;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.cms_tree-node-item {
    white-space: nowrap;
}
.cms_tree-node-item:hover {
    background: #515462;
    cursor: move;
}
.cms_tree-node-item.valid-target {
    background: green!important;
}
.cms_tree.valid-target-tree {

}
#page-tree.hidden {
    display: none;
}
.qeued {
    position: fixed;
    bottom: 0;
}
.qeued-user {
    color: #54667a;
    background: #fff;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.qeued-user:active,
.qeued-user:hover {
    color: #54667a;
    background: #edf1f5;
}
.qeued-user-icon {
    position: relative;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.qeued-user-icon .badge-up {

}
.qeued-user-text {
    white-space: normal;
    line-height: 1.2rem;
    font-size: 1rem;
    text-align: left;
}
/* Menu Sort CSS */
body.dragging, body.dragging * {
    cursor: move!important;
}
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
.cms-admin-menu {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cms-admin-menu .cms-admin-menu {
    margin: 0 -1px -1px 30px;
}
.cms-admin-menu li {
    padding: 0;
    margin: 0;
}
.cms-admin-menu li > div {
    margin: 0 0 -1px 0;
    border: 1px solid #e1e9f2;
}
.cms-admin-menu li > div:hover {
    background: #f8f8f8;
}
.cms-admin-menu-item-move {
    cursor: pointer;
}
.cms-admin-menu li.placeholder {
    position: relative;
    height: 5px;
    background: #222222;
}

