{% set fallbackState = item.published ? 'published' : 'unpublished' %}
{% set state = value ?? fallbackState %}
{% if state == 'published' %}
    {% set badge = 'success' %}
{% elseif state == 'unpublished' %}
    {% set badge = 'danger' %}
{% elseif state == 'deleted' %}
    {% set badge = 'danger' %}
{% elseif state == 'scheduled' %}
    {% set badge = 'warning' %}
{% else %}
    {% set badge = 'info' %}
{% endif %}
<span class="" title="{{ ('admin.label.'~state)|trans({}, 'cms') }}">
    <span class="fas {{ state == 'deleted' ? 'fa-trash' : 'fa-circle' }} text-{{ badge }}"></span>
</span>

{% if item.locked %}
    <span class="fas fa-lock"></span>
{% endif %}
