<div {{ editorAttr(element, edit) }}>
    {% if element.data.controller is defined and element.data.controller %}
        {{ render(controller(element.data.controller)) }}
    {% endif %}
</div>
