<div {{ editorAttr(element, edit) }} class="{{ elementClasses(element) }}">
    {% if element.data.formUuid is defined and element.data.formUuid %}
        {{ render(controller('FormsBundle:Form:renderForm', {formUuid: element.data.formUuid, defaultData: []})) }}
    {% endif %}
</div>
