<div {{ editorAttr(element, edit, 'bg-warning') }}>
    <img class="img-fluid" title="{{ element.data.title }}" alt="{{ element.data.title }}" src="{{ web_image(element.data.image).cropResize(1920, 1920) }}">
</div>
