{% if edit %}
    <div class="jumbotron text-center">
        <h2>{{ sectionName }}</h2>
        <a class="btn-create-section btn btn-primary" data-section="{{ sectionName }}" target="_top" href="#"><span class="fa fa-th-large"></span> {{ 'Add Section'|trans }}</a>
    </div>
{% endif %}
