<div {{ editorAttr(element, edit, 'bg-dark') }} class="{{ element.data.section }}">
    {% if element.elements is defined %}
        {% for element in element.elements %}
            {% include config.page_elements[element.elementName].template %}
        {% endfor %}
    {% endif %}
</div>
