{% set visible = isElementVisible(element) %}
{% if edit or visible %}
    {% if edit %}<div {{ editorAttr(element, edit, 'bg-warning', visible) }}>{% endif %}
        {% if edit %}
            {% set isTimed = edit and (element.data.startDate or element.data.endDate) %}
            {% set isTimeActive = ('now'|date('U') > element.data.startDate|date('U') or element.data.startDate is null) and ('now'|date('U') < element.data.endDate|date('U') or element.data.endDate is null)  %}
            {% if isTimed %}
                <div class="small mb-0 alert alert-warning">
                    <strong class="{{ isTimeActive ? 'text-success' : 'text-danger' }}">{{ isTimeActive ? 'Active'|trans : 'Inactive'|trans }}</strong>
                    {% set dateFormat = app.request.locale == 'de' ? 'd.m.Y H:i' : 'Y-m-y H:i' %}
                    {% set startText = element.data.startDate ? element.data.startDate|date(dateFormat) : 'now'|trans %}
                    {% set endText = element.data.endDate ? element.data.endDate|date(dateFormat) : 'forever'|trans %}
                    {{ 'This element appears from %start% to %end%.'|trans({'%start%': startText, '%end%': endText}) }}
                </div>
            {% endif %}
        {% endif %}
        {% if element.elements is defined %}
            {% for element in element.elements %}
                {% include config.page_elements[element.elementName].template %}
            {% endfor %}
        {% endif %}
    {% if edit %}</div>{% endif %}
{% endif %}
