{% set visible = isElementVisible(element) %}
{% if edit or visible %}
    {% if edit %}<div {{ editorAttr(element, edit, 'bg-warning', visible) }}>{% endif %}
        {% if edit %}
            <div class="small mb-0 alert alert-warning">{{ 'This element appears from %start% to %end%.'|trans({'%start%': element.data.startDate|date, '%end%': element.data.endDate|date}) }}</div>
        {% endif %}
        {% if element.elements is defined %}
            {% for element in element.elements %}
                {% include config.page_elements[element.elementName].template %}
            {% endfor %}
        {% endif %}
    {% if edit %}</div>{% endif %}
{% endif %}
