{% extends '@cms/EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{- parent() -}}

    {% if is_granted('page_create') %}
        <div class="button-action">
            <a class="btn btn-success" href="{{ path('cms_create_page') }}">
                <span class="fa fa-plus"></span> {{ 'Add page'|trans }}
            </a>
        </div>
    {% endif %}
{% endblock global_actions %}
